<div class="container">
    <div class="row">
    <h2 class="text-center">Add A Quote</h2>
    <hr>
</div>
  </div>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">

        <label for="name">Author'sName</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Author's name is required</p>
          </div>
    </div>
    <div class="form-group">

        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>A Quote is required</p>
          </div>
    </div>
    <div class="form-group">
        <label for="sname">Submitted By:</label>
        <input type="text" class="form-control" id="sname" [(ngModel)]="newQuote.sname" name="sname" #sname='ngModel' required>
        <div [hidden]="sname.valid || sname.pristine" class="alert alert-danger">
            <p>Name is required</p>
          </div>

    </div>
    
    <div class="form-group">

        <label for="complete">Completion</label>
        <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
    
</form>

